---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Anuncio" class="py-5 md:py-5">
    <Container className="flex flex-col midmd:flex-row gap-5 lg:gap-5">
      
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
              Anuncios
            </Title>
            <Paragraph className="mt-8">
                Página en proceso de construcción. Pronto disponible.
            </Paragraph>
           
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> La ley 20.720 propone entre otras cosas....</li>
                 
    </Container>
</section>