---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="features" class="relative">
    <Container className="flex flex-col md:flex-row gap-10 lg:gap-12">
     
                <div class="flex-1 flex md:w-1/2 lg:w-1/2 flex-col mb-10 md:mb-0">
            <Title>
                Contamos con un Proceso Sencillo y Efectivo
            </Title>
            <Paragraph className="mt-8">
                ¿Cómo funciona nuestro proceso para eliminar tus deudas?
                <br>
                Basados en la ley 20.720 de insolvencia y quiebra financiera, hemos desarrollado un método claro y eficiente para ayudarte a liberarte de tus problemas financieros.
            </Paragraph>
            <Paragraph className="mt-2">
                Recuerda los pasos clave de nuestro proceso y cómo te acompañaremos en cada etapa:
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium mb-10">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Pide una evaluación gratuita; revisaremos contigo la mejor opción.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Luego, te asignaremos una ejecutiva para reunir la documentación.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Con todo listo, comenzamos a trabajar e informamos las novedades relevantes.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Podrás consultar el estado de tu caso y pagos, o agendar cuando lo requieras.
                </li>
            </ul>

            <div class="w-full flex justify-center md:hidden mb-10">
                <a
                    href="/procesos"
                    class="inline-flex items-center justify-center rounded-full bg-primary px-6 py-3 text-lg font-semibold text-white shadow-lg transition duration-300 hover:bg-primary-dark hover:shadow-xl"
                >
                    Saber Más
                </a>
            </div>

        </div>

                <div class="max-w-md mx-auto md:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-full md:w-1/2 lg:w-1/2 md:h-auto">
           
            <div class="w-full h-96 sm:h-[450px] md:h-[600px] lg:h-[700px] relative">
               
                                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
               
                                <div class="flex flex-1 w-full h-full relative max-w-3xl mx-auto">
                    <img
                        src="/images/dev-with-c.webp"
                        alt="imagenproceso"
                        width="850"
                        height="859"
                        class="md:absolute md:w-11/12 md:h-auto top-1/6 mx-auto rounded-3xl object-cover max-h-96 md:max-h-none"
                    >
                </div>
            </div>
        </div>
    </Container>

            <div class="hidden md:flex absolute md:top-[400px] lg:top-[500px] z-10 w-full justify-end pr-10 lg:pr-12">
        <a
            href="/procesos"
            class="inline-flex items-center justify-center rounded-full bg-primary px-6 py-3 text-lg font-semibold text-white shadow-lg transition duration-300 hover:bg-primary-dark hover:shadow-xl"
        >
            Saber Más
        </a>
    </div>

</section>