---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Guias" class="py-5 md:py-5">
    <Container className="flex flex-col midmd:flex-row gap-5 lg:gap-5">
      
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
              Logros
            </Title>
            <Paragraph className="mt-8">
                Más de 2500 clientes satisfechos en 10 años de experiencia.
            </Paragraph>
           
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Tú podrías ser el próximo....</li>
                 
    </Container>
</section>