---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Privacidad" class="py-5 md:py-5">
    <Container className="flex flex-col midmd:flex-row gap-5 lg:gap-5">
      
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
               Política de Privacidad
            </Title>
            <Paragraph className="mt-8">
                USO Y TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL
            </Paragraph>
           
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> En cumplimiento de lo establecido en la Ley N° 19.628, sobre Protección de la Vida Privada o Protección de Datos de Carácter Personal de 28 de agosto de 1999 y sus modificaciones posteriores (en adelante LPD), Eliminesusdeudas.cl le informa que los datos de carácter personal proporcionados, a través del sitio web, así como los que pudiera facilitar en el futuro en el marco de su relación jurídica con esta entidad, serán incorporados en los registros automatizados y no automatizados cuya titularidad pertenece a Eliminesusdeudas.cl, cuyos datos de contacto constan en la misma página.

                    Estos registros tienen la finalidad de facilitar el cumplimiento y ejecución de los contratos que pudiera celebrar con Eliminesusdeudas.cl, conocer mejor sus gustos o preferencias, y adecuar los servicios a sus preferencias, así como poder ofrecerle nuevos servicios o productos y enviarle información administrativa, técnica, organizativa y/o comercial de forma documental y/o electrónica relacionada con las actividades de Eliminesusdeudas.cl.

                        Los destinatarios de la información recogida serán exclusivamente los propios empleados de Eliminesusdeudas.cl.

                        Salvo en los campos en que expresamente se determine lo contrario por medio de un asterisco (*), las respuestas a las preguntas sobre datos personales son voluntarias, sin que la falta de contestación a dichas preguntas implique una merma en la calidad de los servicios que Usted solicita. La falta de cumplimentación de los campos determinados como obligatorios o el suministro de datos incorrectos imposibilitará que Eliminesusdeudas.cl pueda prestarle los servicios o le facilite los productos que solicite.
                </li>
                 <Paragraph className="mt-2">
                EJERCICIO DE DERECHOS: ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN.
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Aquellas personas naturales que hayan facilitado sus datos a Eliminesusdeudas.cl podrán dirigirse a la entidad, en su calidad de Responsable del registro, con el fin de poder ejercitar gratuitamente sus derechos de acceso, rectificación, cancelación y oposición respecto de los datos incorporados en sus registros.

                    Dado el carácter confidencial de la información, Ud. no podrá ejercitar sus derechos telefónicamente, se debe solicitar por cualquier medio que deje constancia de su envío y de su recepción y remitir copia de su cédula nacional de identidad o documento equivalente.

                        El interesado podrá ejercitar sus derechos mediante comunicación por escrito dirigida a Eliminesusdeudas.cl a la dirección de correo electrónico contacto@eliminesusdeudas.cl
                </li>
                 <Paragraph className="mt-2">
                MEDIDAS DE SEGURIDAD
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Eliminesusdeudas.cl le informa que tiene implantadas las medidas de seguridad de índole técnica y organizativas necesarias para garantizar la seguridad de sus datos de carácter personal y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural. Así, Eliminesusdeudas.cl ha establecido medidas adicionales en orden a reforzar la confidencialidad e integridad de la información en la organización. No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.

                    Eliminesusdeudas.cl continuamente mantiene la supervisión, control y evaluación de los procesos para asegurar el respeto a la privacidad de los datos.
                </li>
                <Paragraph className="mt-2">
                USO DE COOKIES
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Las “cookies” constituyen una herramienta empleada por los servidores Web para almacenar y recuperar información acerca de sus usuarios.

                        Las “cookies” son mensajes enviados por el servidor al ordenador del usuario, consistentes en registros de texto que se almacenan en la memoria del ordenador y que recogen información relativa a las páginas que se visitan, el tiempo de conexión a Internet, etc. Las “cookies” vuelven a ser enviadas al servidor cada vez que el usuario entra en esa página.

                        La finalidad de las “cookies” de Eliminesusdeudas.cl es personalizar los servicios que le ofrecemos, facilitándole información que pueda ser de su interés. Si no desea que se instale en su disco duro una cookie puede configurar el navegador de su ordenador para no recibirlas. Sin embargo, le hacemos notar que, en ese caso, la calidad del funcionamiento del sitio web puede disminuir.

                        Las “cookies” se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí solas los datos personales del cliente, ni pueden leer datos de su disco duro, ni leer los archivos cookie creados por otros nuevos proveedores.

                        Los “logs” son unos archivos almacenados en el servidor de Eliminesusdeudas.cl que registran datos sobre su navegación y nos permiten seguirle prestando los servicios que solicita. Asimismo, nos ayudan a analizar el funcionamiento del sistema, localizar las incidencias y problemas que puedan surgir y solventarlos en el menor plazo posible.
                </li>
                   <Paragraph className="mt-2">
                MENORES DE EDAD
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Eliminesusdeudas.cl considera que la protección de datos de carácter personal es esencial, por lo que en el supuesto de que el usuario sea menor de edad, éste sólo podrá aportar sus datos personales en los formularios de recogida de los mismos, con el previo consentimiento de los padres o tutores, enviando el formulario correspondiente debidamente firmado por los padres o tutores por correo certificado y con copia de la cédula nacional de identidad del padre o tutor firmante a la dirección de Eliminesusdeudas.cl arriba indicada.

                    Eliminesusdeudas.cl no responde de aquellos datos de menores que sin poder conocer Eliminesusdeudas.cl este hecho se haya facilitado sin el consentimiento de los padres o tutores.
                </li>
                   <Paragraph className="mt-2">
                MODIFICACIÓN DE LA POLÍTICA DE PRIVACIDAD
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Eliminesusdeudas.cl se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, o motivado por un cambio, legislativo. Cualquier modificación de la Política de Privacidad será publicada al menos diez días antes de su efectiva aplicación. El uso del sitio web después de dichos cambios, implicará la aceptación de éstos.
                </li>
                     <Paragraph className="mt-2">
                LEGISLACIÓN APLICABLE
            </Paragraph>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Los términos y el uso de este sitio, serán regidos e interpretados de acuerdo con las leyes de la república de Chile, y para cualquier controversia que se derive del uso de este servicio las partes prorrogan competencia en los Tribunales Ordinarios de Justicia de la comuna y ciudad de Los Ángeles, Chile.
                </li>
                <br><br>
                     <Paragraph className="mt-1">
                 TODOS LOS DERECHOS RESERVADOS POR: Eliminesusdeudas.cl
            </Paragraph>
            </ul>
        </div>
           
    
            </div>
        </div>
    </Container>
</section>