---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Videos" class="py-5 md:py-5">
    <Container className="flex flex-col midmd:flex-row gap-5 lg:gap-5">
      
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
              Videos
            </Title>
            <Paragraph className="mt-8">
                Videos informativos sobre la Ley 20.720 y otros temas relacionados con la eliminación de deudas en Chile.
            </Paragraph>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/R1vymM7TFi0" title="LEY DE QUIEBRAS 20.720 — Asumimos su defensa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                     <Paragraph className="mt-1">
                 TODOS LOS DERECHOS RESERVADOS POR: Eliminesusdeudas.cl
            </Paragraph>
            </ul>
        </div>
           
    
            </div>
        </div>
    </Container>
</section>