---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Logrossection from "../components/sections/logrossection.astro";
---

<Layout title="Elimine Sus Deudas">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    }        <Logrossection/>
	</main>
</Layout>