---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Nosotrossection from  '../components/sections/Nosotrossection.astro';
---

<Layout title="Nosotros">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
          }  <Nosotrossection/>
	</main>
</Layout>