---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Ubicacionsection from "../components/sections/ubicacionsection.astro";
---

<Layout title="Elimine Sus Deudas">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    }        <Ubicacionsection/>
	</main>
</Layout>